PORT=4000

FLEXISIP_DB_HOST=
FLEXISIP_DB_PORT=3306
FLEXISIP_DB_USER=
FLEXISIP_DB_PASSWORD=
FLEXISIP_DB_NAME=flexisip_users

ADMIN_DB_HOST=
ADMIN_DB_PORT=3306
ADMIN_DB_USER=
ADMIN_DB_PASSWORD=
ADMIN_DB_NAME=auth_admins

JWT_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

ADMIN_PANEL_URL=
